<div class = "banner">
  <h1>Best Cocktails</h1>
<!--   <h2>First you take a drink, then the drink takes you</h2>
  <h4>― F. Scott Fitzgerald</h4> -->
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-sm-8">
      <% @cocktails.each do |cocktail| %>
        <ul class='list-inline'>
          <li><h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2></li>

          <li><%= link_to edit_cocktail_path(cocktail) do %>
              <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
          <% end %></li>

          <li><%= link_to cocktail_path(cocktail),method: :delete,
              data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
          <% end %></li>
        </ul>
        <% end %> -->

      <div class="wrapper text-center">
        <h2>Your favorites cocktails</h2>
        <%= link_to new_cocktail_path(@cocktail) do %>
        <button type="button" class="btn btn-primary">Create yours!</button>
        <% end %>
      </div>

        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <h4>Autumn Wind</h4>
                <%= image_tag "autumn_wind.png", {class: "picture"} %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <h4>Shandy Khan</h4>
                <%= image_tag "shandy_khan.png", {class: "picture"} %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <h4>Nutty Ocho Rios</h4>
                <%= image_tag "nutty_ocho_rios.png", {class: "picture"} %>
              </div>
            </div>


          <div class="col-xs-12 col-sm-4">
              <div class="card">
                <h4>Italian Bird</h4>
                <%= image_tag "italian_bird.png", {class: "picture"} %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <h4>Long Zest</h4>
                <%= image_tag "long_zest.png", {class: "picture"} %>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4">
              <div class="card">
                <h4>Vdka 6100 Martini</h4>
                <%= image_tag "vdka_6100_martini.png", {class: "picture"} %>
              </div>
            </div>
          </div>
        </div>

      </div>



